[Unit]
Description=Icewine desktop shell
PartOf=icewine-session.target graphical-session.target
After=graphical-session.target
Conflicts=mako.service

[Service]
ExecStart=/usr/bin/qs
Restart=on-failure
